<!DOCTYPE html>
<html ng-app="MettingPointsApp">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Relient - Responsive Multiperpose Theme</title>

  <!-- Preloader CSS -->
  <!-- 	<script src="js/pace.min.js"></script> -->

  <!-- Meta Viewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

  <!-- Meta description and keywords -->
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Shortcut icons And Apple touch icon -->
  <link rel="shortcut icon" href="img/favicon.png">
  <link rel="apple-touch-icon" href="img/favicon.png">

  <!-- Preloader CSS -->
  <link rel="stylesheet" href="css/pace.css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="css/bootstrap.min.css">

  <!-- Universal stylesheet (Shouldbe used with all multiperpose pages) -->
  <link rel="stylesheet" href="css/multiperpose.css">
  <link rel="stylesheet" href="css/main.css">

  <!-- Custom CSS (Page Specific) < Editable > -->
  <link rel="stylesheet" href="css/pages/page-multi-perpose.css">

  <!-- Custom CSS (color theme) < Editable > -->
  <link rel="stylesheet" href="css/color-theme/business/green.css">

  <!-- CSS Only for demo delete in original vrsion -->
  <link rel="stylesheet" href="css/demo.css">

  <!-- angular js -->
  <script src="/angular/angular.min.js"></script>

  <!-- include libs -->
  <link rel="import" href="/header.html">

  <!-- Angular modules -->
  <script src="/app.js"></script>
  <% for(var i=0; i<jsFiles.length; i++) {%>
    <script src="<%= jsFiles[i] %>"></script>
    <% } %>
</head>
<!-- Body Starts Here -->
<!-- Add class bg-1 to bg-18 for different background patterns -->

<body class="bg-17">
  <!-- Div set layout of page for full-width layout add class full-width else for boxed layout add class boxed -->
  <div class="layout full-width">
    <!-- Section only for demo perpose should not include in original version -->
    <section id="demo" class="demo hidden-xs">
      <div class="container affix">
        <div class="row">
          <div class="styler well custom">
            <span class="close fa fa-times"></span>
            <h3 class="heading txt-xs">Layout</h3>
            <div class="ul ul-xs"><span></span></div>
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-success active">
                <input type="radio" checked name="layout" value="full" id="layout1"> Full
              </label>
              <label class="btn btn-warning">
                <input type="radio" name="layout" value="boxed" id="layout2"> Boxed
              </label>
            </div>
            <h3 class="heading txt-xs">Side Nav Style</h3>
            <div class="ul ul-xs"><span></span></div>
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-success active">
                <input type="radio" checked name="layout" value="reveal" id="side-menu-style1"> Push
              </label>
              <label class="btn btn-warning">
                <input type="radio" name="layout" value="overlay" id="side-menu-style2"> Overlay
              </label>
            </div>
            <h3 class="heading txt-xs">Color Themes</h3>
            <div class="ul ul-xs"><span></span></div>
            <div class="color-themes"></div>
            <h3 class="heading txt-xs">Background Patterns</h3>
            <div class="ul ul-xs"><span></span></div>
            <div class="bg-patterns"></div>
          </div>
        </div>
      </div>
    </section>
    <section id="home-head">
      <div class="container">
        <!-- TopThin Bar Containing Contact Info and Email And Social Button etc... (Visible only only on big screens) -->
        <div class="row top-bar-contact hidden-xs">
          <!-- Email/Phone -->
          <div class="col-sm-6 col-md-5 col-lg-4 contact">
            <!-- Contact Phone -->
            <span class="phone"><span class="fa fa-phone"></span>&nbsp;+91-1234567890</span>
            <!-- Contact Email -->
            <span class="email"><span class="fa fa-envelope-o"></span>&nbsp;info@example.com</span>
          </div>
          <!-- Social and login/signup Buttons visible only on big screens (PC, Laptop) -->
          <div class="col-sm-6 col-md-7 col-lg-8 social">
            <div class="btn-group">
              <!-- Facebook -->
              <a class="btn btn-primary btn-xs" href="#" title="Facebook"><span class="fa fa-facebook"></span></a>
            </div>
            <div class="btn-group">
              <!-- Login Modal Button -->
              <button data-toggle="modal" data-target="#login-modal" class="btn btn-success btn-xs">Login</button>
            </div>
          </div>
        </div>
      </div>
      <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <!-- Toggle Button for main navbar (Horizontal Nav) (This button visible only on mobile) -->
            <button type="button" class="navbar-toggle collapsed left" data-toggle="collapse" data-target="#main-navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- Site Name -->
            <a class="navbar-brand" href="#">RELIENT</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div menus></div>
        </div>
      </nav>
    </section>
    <section style="background-color: rgb(245,245,245);">

      <!-- start content -->
      <div ui-view></div>
      <!-- end content-->

    </section>
  </div>

  <!-- jQuery -->
  <script src="js/jquery-2.1.1.min.js"></script>

  <!-- Bootstrap -->
  <script src="js/bootstrap.min.js"></script>

  <!-- Universal JS for all pages js < Editable > -->
  <script src="js/multiperpose.js"></script>

  <!-- JS for specific this page <Editable> -->
  <script src="js/pages/page-multi-perpose.js"></script>

  <!-- Style switcher for demo page only -->
  <script src="js/style-switcher.js"></script>
</body>

</html>
