<!-- <button onclick="window.open('http://www.facebook.com/sharer.php?s=100&p[title]=nhuan&p[summary]=dien&p[url]=http://google.com.vn&p[images][0]=YOUR_IMAGE_TO_SHARE_OBJECT', 'newwindow', 'width=500, height=400'); return false;">
    <span class="icon-facebook"></span>
    <span style="padding-top:5px;">share</span>
</button> -->

<style type="text/css">
#share {
    background-color: #5D7DAE;
    height: 20px;
    width: 55px;
}

#share a.click {
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    color: #fff;
}
</style>

<div id="share">
    <a class="click" href="" onclick="window.open('http://www.facebook.com/sharer.php?s=100&p[title]=nhuan&p[summary]=dien&p[url]=http://google.com.vn&p[images][0]=YOUR_IMAGE_TO_SHARE_OBJECT', 'newwindow', 'width=500, height=400'); return false;">
        <span class="icon-facebook"></span>
        <span style="padding-top:5px;">share</span>
    </a>
</div>
