<div class="slider-wrapper" style="background-color: orange;">
  <div class="container">
    <div class="row">
      <div class="carousel slider" id="main-slider" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#main-slider" data-slide-to="0" class="active"></li>
          <li data-target="#main-slider" data-slide-to="1"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <div class="container">
              <div class="row">
                <div class="col-xs-12">
                  <div class="carousel-caption">
                    <h3 class="slider-heading animated fadeInDownBig a-d-3 text-center">Touch enabled carousals and side nav</h3>
                    <h4 class="slider-subheading animated fadeInDown a-d-7 color-inverse text-center">To test touch try to drag anything to right or left.</h4>
                    <div class="col-lg-4 col-md-6 col-sm-12 text-left">
                      <ul class="list-unstyled slider-content">
                        <li class="animated fadeInUp a-d-9"><span class="fa fa-check-square-o"></span> 10 Color schemes</li>
                        <li class="animated fadeInUp a-d-13"><span class="fa fa-check-square-o"></span> 150 Design elements </li>
                        <li class="animated fadeInUp a-d-16"><span class="fa fa-check-square-o"></span> Clean and cmmented code</li>
                      </ul>
                      <p class="slider-footer animated bounceInUp a-d-18">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. In rerum maxime quis tenetur dolor recusandae a <span class="color-inverse">nulla qui</span> enim dolorem.
                      </p>
                    </div>
                    <div class="col-lg-4 col-md-6 hidden-xs hidden-sm text-center">
                      <span class="fa fa-hand-o-up animated zoomInDown a-d-7 slider-icon"></span>
                    </div>
                    <div class="col-lg-4 hidden-xs hidden-sm hidden-md text-right">
                      <ul class="list-unstyled slider-content">
                        <li class="animated fadeInDown a-d-9"><span class="fa fa-check-square-o"></span> 4 Home pages </li>
                        <li class="animated fadeInDown a-d-13"><span class="fa fa-check-square-o"></span> Touch sensitive theme </li>
                        <li class="animated fadeInDown a-d-16"><span class="fa fa-check-square-o"></span> Boxed and full width layout </li>
                      </ul>
                      <p class="slider-footer animated bounceInUp a-d-18">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. In rerum maxime quis tenetur dolor recusandae a <span class="color-inverse">nulla qui</span> enim dolorem.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="container">
              <div class="row">
                <div class="col-xs-12">
                  <div class="carousel-caption">
                    <h3 class="slider-heading animated fadeInDownBig a-d-3 text-center">One theme for all</h3>
                    <h4 class="slider-subheading animated fadeInDown a-d-7 color-inverse text-center">Design in your own way.</h4>
                    <div class="col-lg-4 col-md-6 col-sm-12 text-left">
                      <ul class="list-unstyled slider-content">
                        <li class="animated fadeInUp a-d-9"><span class="fa fa-check-square-o"></span> 1 Business Home</li>
                        <li class="animated fadeInUp a-d-13"><span class="fa fa-check-square-o"></span> 3 Portfolio Home </li>
                        <li class="animated fadeInUp a-d-16"><span class="fa fa-check-square-o"></span> 2 Contact Us Options</li>
                      </ul>
                      <p class="slider-footer animated bounceInUp a-d-18">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. In rerum maxime quis tenetur dolor recusandae a <span class="color-inverse">nulla qui</span> enim dolorem.
                      </p>
                    </div>
                    <div class="col-lg-4 col-md-6 hidden-xs hidden-sm text-center">
                      <span class="fa fa-desktop animated zoomInDown a-d-7 slider-icon"></span>
                    </div>
                    <div class="col-lg-4 hidden-xs hidden-sm hidden-md text-right">
                      <ul class="list-unstyled slider-content">
                        <li class="animated fadeInDown a-d-9"><span class="fa fa-check-square-o"></span> 5 Login / Signup Options </li>
                        <li class="animated fadeInDown a-d-13"><span class="fa fa-check-square-o"></span> 1 General Content Option </li>
                        <li class="animated fadeInDown a-d-16"><span class="fa fa-check-square-o"></span> Lot's of design components </li>
                      </ul>
                      <p class="slider-footer animated bounceInUp a-d-18">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. In rerum maxime quis tenetur dolor recusandae a <span class="color-inverse">nulla qui</span> enim dolorem.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="left carousel-control" href="#main-slider" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#main-slider" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
  </div>
</div>
