<div style="margin-left: 20px; margin-top: 20px;">

    <div class="row">

        <div class="col-md-7">
            <!-- Daily financials -->
            <div class="panel panel-flat" ng-controller="adminEventCtrl as eventCtrl">
                <div class="panel-heading">
                    <h6 class="panel-title">Daily financials</h6>
                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <!-- Small size -->
                            <div class="form-group">
                                <label>Type</label>
                                <select class="form-control" data-style="btn-default btn-sm" data-width="100%">
                                    <option value="travel">Travel</option>
                                </select>
                            </div>
                            <!-- /small size -->

                        </div>
                        <div class="col-md-8">
                            <!-- options -->
                            <div class="form-group" style="margin-top:30px;">
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="optradio" value="available" ng-model="eventCtrl.action" ng-change="eventCtrl.loadEvents()">Available</label>
                                </div>
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="optradio" value="blocked" ng-model="eventCtrl.action" ng-change="eventCtrl.loadEvents()">Blocked</label>
                                </div>
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="optradio" value="reported" ng-model="eventCtrl.action" ng-change="eventCtrl.loadEvents()">Reported</label>
                                </div>
                            </div>
                            <!-- /options -->
                        </div>
                    </div>

                    <div class="row">
                        <!-- travel -->
                        <table class="table tasks-list table-lg">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Username</th>
                                    <th>Created</th>
                                    <th>Status</th>
                                    <th ng-show="eventCtrl.action==='reported'">
                                        Reported
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="event in eventCtrl.events" style="color: #879394; font-size: 12px;">
                                    <th>
                                        <a href="" ui-sref="post({type:eventCtrl.type, eventId: event._id})">
                                            #{{$index+1}}
                                        </a>
                                    </th>
                                    <th>
                                        <a ng-href="https://www.facebook.com/{{event.user.facebookId}}">
                                            {{event.user.name}}
                                        </a>
                                    </th>
                                    <th>{{eventCtrl.getFormatedDate(event.created)}}</th>
                                    <th>
                                        <label ng-show="eventCtrl.isFinish(event.startTime)" class="label bg-slate">Finish</label>
                                        <label ng-show="!eventCtrl.isFinish(event.startTime)" class="label bg-primary">Available</label>
                                    </th>
                                    <th ng-show="eventCtrl.action==='reported'">
                                        {{event.reports}}
                                    </th>
                                    <th>
                                        <button class="btn btn-xs btn-danger" ng-click="eventCtrl.blockEvent(event._id)" ng-show="eventCtrl.action==='available'">Block</button>
                                        <button class="btn btn-xs btn-success" ng-click="eventCtrl.unBlockEvent(event._id)" ng-show="eventCtrl.action==='blocked'">Unblock</button>


                                        <div ng-show="eventCtrl.action==='reported'">
                                            <button class="btn btn-xs btn-danger" ng-click="eventCtrl.blockEvent(event._id)" ng-show="!event.disable">Block</button>
                                            <button class="btn btn-xs btn-success" ng-click="eventCtrl.unBlockEvent(event._id)" ng-show="event.disable">Unblock</button>
                                        </div>
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                        <!-- finish travel -->
                    </div>

                </div>
            </div>
            <!-- /daily financials -->
        </div>

    </div>

</div>
