<style type="text/css">
.titleManagement {
    font-weight: 600;
    color: #34495e;
}
</style>

<div style="margin-left: 20px; margin-top: 20px; margin-right: 20px;">

    <div class="row" style="margin-top:60px;">

        <div class="col-sm-offset-4 col-sm-2 text-center">
            <a href="" ui-sref="admin_event">
                <img src="/icons/events.png" height="100px">
                <h5 class="titleManagement">Event management</h5>
            </a>
        </div>

        <div class="col-sm-2 text-center">
            <a href="" ui-sref="admin_user">
                <img src="/icons/users.png" height="100px">
                <h5 class="titleManagement">User management</h5>
            </a>
        </div>

    </div>

</div>
