<div class="col-md-5">
    <!-- Daily financials -->
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h6 class="panel-title">Users manager</h6>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-md-8">
                    <!-- options -->
                    <div class="form-group" style="margin-top:30px;">
                        <div class="radio-inline">
                            <label>
                                <input type="radio" name="nhuan" value="available" ng-model="ctrl.action" ng-change="ctrl.loadUsers()">Available</label>
                        </div>
                        <div class="radio-inline">
                            <label>
                                <input type="radio" name="nhuan" value="blocked" ng-model="ctrl.action" ng-change="ctrl.loadUsers()">Blocked</label>
                        </div>
                    </div>
                    <!-- /options -->
                </div>
            </div>

            <div class="row">
                <!-- travel -->
                <table class="table tasks-list table-lg">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Username</th>
                            <th>Last login</th>
                            <th>Created</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in ctrl.users" style="color: #879394; font-size: 12px;">
                            <th>#{{$index+1}}</th>
                            <th>
                                <a ng-href="https://www.facebook.com/{{user.facebookId}}">
                                    {{user.name}}
                                </a>
                            </th>
                            <th>{{ctrl.getFormatedDate(user.lastLogin)}}</th>
                            <th>{{ctrl.getFormatedDate(user.created)}}</th>
                            <th>
                                <button class="btn btn-xs btn-danger" ng-click="ctrl.blockUser(user._id)" ng-show="!user.disable">Block</button>
                                <button class="btn btn-xs btn-success" ng-click="ctrl.unBlockUser(user._id)" ng-show="user.disable">Unblock</button>
                            </th>
                        </tr>
                    </tbody>
                </table>
                <!-- finish travel -->
            </div>

        </div>
    </div>
    <!-- /daily financials -->
</div>
