<div class="collapse navbar-collapse" id="main-navbar">
  <!-- Main Nav Pills -->
  <ul class="nav navbar-nav navbar-right">
    <li>
      <!-- Main Nav Pill Link -->
      <a href="#">
        <!-- Main Nav Pill Icon -->
        <span class="fa fa-home"></span>
        <!-- Main Nav Pill Text -->
        Home
      </a>
    </li>
    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-gift"></span>Extra Pages <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="multiperpose-about-us.html">About Us <span class="label label-primary txt-n">New</span></a></li>
        <li class="divider"></li>
        <li><a href="multiperpose-contact-1.html">Contact Style 1</a></li>
        <li><a href="multiperpose-contact-2.html">Contact Style 2</a></li>
        <li class="divider"></li>
        <li><a href="login.html">Login</a></li>
        <li><a href="signup.html">Signup</a></li>
        <li><a href="login-option.html">Login Option</a></li>
        <li><a href="signup-option.html">Signup Option</a></li>
        <li><a href="login-signup.html">Login / Signup</a></li>

      </ul>
    </li>
  </ul>
</div>
