<!-- Main navbar -->
<div class="navbar navbar-inverse">
    <div class="navbar-header">
        <a class="navbar-brand" href="index.html">
            <img src="/main/assets/images/logo_light.png" alt="">
        </a>

        <ul class="nav navbar-nav pull-right visible-xs-block">
            <li>
                <a data-toggle="collapse" data-target="#navbar-mobile">
                    <i class="icon-tree5"></i>
                </a>
            </li>
        </ul>
    </div>

    <div class="navbar-collapse collapse" id="navbar-mobile">

        <ul class="nav navbar-nav navbar-right">

            <!-- login -->
            <li ng-show="!ctrl.user._id">
                <a href="/users/login/facebook">
                    <i class="icon-facebook2"></i> Login
                </a>
            </li>
            <!-- finish login -->


            <!-- user profile -->
            <li class="dropdown dropdown-user" ng-show="ctrl.user._id">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">
                    <img ng-src="{{ctrl.user.image}}" alt="No image">
                    <span>{{ctrl.user.name}}</span>
                    <i class="caret"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">

                    <li>
                        <a href="" ui-sref="user">
                            <i class="icon-user-plus"></i> My profile</a>
                    </li>

                    <li ng-show="ctrl.user.isAdmin">
                        <a href="" ui-sref="admin">
                            <i class="icon-user-plus"></i> Admin </a>
                    </li>

                    <li>
                        <a href="/users/logout">
                            <i class="icon-switch2"></i> Logout</a>
                    </li>

                </ul>
            </li>
            <!-- finish user profile -->


        </ul>
    </div>
</div>
<!-- /main navbar -->


<!-- Second navbar -->
<div class="navbar navbar-default" id="navbar-second">
    <ul class="nav navbar-nav no-border visible-xs-block">
        <li>
            <a class="text-center collapsed" data-toggle="collapse" data-target="#navbar-second-toggle">
                <i class="icon-menu7"></i>
            </a>
        </li>
    </ul>

    <div class="navbar-collapse collapse" id="navbar-second-toggle">
        <ul class="nav navbar-nav">
            <!-- main -->
            <li ng-class="{'active': ctrl.current === 'home'}" ng-click="ctrl.current = 'home'">
                <a href="" ui-sref="home">
                    <i class="icon-display4 position-left"></i> Home</a>
            </li>
            <!-- main -->

            <!-- travel -->
            <li class="dropdown" ng-class="{'active': ctrl.current === 'travel'}">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-bike position-left"></i> Travel
                    <span class="caret"></span>
                </a>

                <ul class="dropdown-menu width-200">
                    <li>
                        <a href="" ui-sref="gowithme_create" ng-click="ctrl.current = 'travel'">
                            <i class="icon-pencil4"></i> Create</a>
                    </li>
                    <li>
                        <a href="" ui-sref="gowithme_search" ng-click="ctrl.current = 'travel'">
                            <i class="icon-search4"></i> Join</a>
                    </li>
                </ul>
            </li>
            <!-- travel -->

            <!-- Study -->
            <li ng-class="{'active': ctrl.current === 'study'}" ng-click="ctrl.current = 'study'">
                <a href="" ui-sref="study_list">
                    <i class="icon-books position-left"></i> Study</a>
            </li>
            <!-- travel -->


        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="">
                    <i class="icon-history position-left"></i>
                    Version
                    <span class="label label-inline position-right bg-success-400">1.0</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- /second navbar -->
