<!-- Main navbar -->
<div class="navbar navbar-inverse">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">
            <img src="/main/assets/images/logo_light.png" alt="">
        </a>

        <ul class="nav navbar-nav pull-right visible-xs-block">
            <li>
                <a data-toggle="collapse" data-target="#navbar-mobile">
                    <i class="icon-tree5"></i>
                </a>
            </li>
        </ul>
    </div>

    <div class="navbar-collapse collapse" id="navbar-mobile">

        <ul class="nav navbar-nav navbar-right">

            <!-- login -->
            <li ng-show="!ctrl.user._id">
                <a href="/users/login/facebook">
                    <i class="icon-facebook2"></i> Login
                </a>
            </li>
            <!-- finish login -->


            <!-- user profile -->
            <li class="dropdown dropdown-user" ng-show="ctrl.user._id">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">
                    <img ng-src="{{ctrl.user.image}}" alt="No image">
                    <span>{{ctrl.user.name}}</span>
                    <i class="caret"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">

                    <li>
                        <a href="" ui-sref="user">
                            <i class="icon-user-plus" style="color: #1abc9c;"></i> Setting</a>
                    </li>

                    <li ng-show="ctrl.user.isAdmin">
                        <a href="" ui-sref="admin">
                            <i class="icon-user-lock" style="color: #8e44ad;"></i> Admin </a>
                    </li>

                    <li>
                        <a href="/users/logout">
                            <i class="icon-switch2" style="color: #d35400;"></i> Logout</a>
                    </li>

                </ul>
            </li>
            <!-- finish user profile -->


        </ul>
    </div>
</div>
<!-- /main navbar -->


<!-- Second navbar -->
<div class="navbar navbar-default" id="navbar-second">
    <ul class="nav navbar-nav no-border visible-xs-block">
        <li>
            <a class="text-center collapsed" data-toggle="collapse" data-target="#navbar-second-toggle">
                <i class="icon-menu7"></i>
            </a>
        </li>
    </ul>

    <div class="navbar-collapse collapse" id="navbar-second-toggle">
        <ul class="nav navbar-nav">
            <!-- main -->
            <li ng-class="{'active': ctrl.current === 'home'}" ng-click="ctrl.current = 'home'">
                <a href="" ui-sref="home">
                    <i class="icon-display4 position-left"></i> Home</a>
            </li>
            <!-- main -->

            <!-- travel -->
            <li class="dropdown" ng-class="{'active': ctrl.current === 'travel'}">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-bike position-left" style="color: #16a085;"></i> Travel
                    <span class="caret"></span>
                </a>

                <ul class="dropdown-menu width-200">

                    <li ng-show="ctrl.user._id">
                        <a href="" ui-sref="gowithme_create" ng-click="ctrl.current = 'travel'">
                            <i class="icon-pencil4" style="color: #27ae60;"></i> Create trip</a>
                    </li>

                    <li>
                        <a href="" ui-sref="gowithme_search" ng-click="ctrl.current = 'travel'">
                            <i class="icon-search4" style="color: #9b59b6;"></i> Search trip</a>
                    </li>

                </ul>
            </li>
            <!-- travel -->

            <!-- Study -->
            <li class="dropdown" ng-class="{'active': ctrl.current === 'study'}">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-books position-left" style="color: #d35400;"></i> Study
                    <span class="caret"></span>
                </a>

                <ul class="dropdown-menu width-200">

                    <li ng-show="ctrl.user._id">
                        <a href="" ui-sref="study_edit" ng-click="ctrl.current = 'study'">
                            <i class="icon-pencil4" style="color: #27ae60;"></i> Create</a>
                    </li>

                    <li>
                        <a href="" ui-sref="study_list" ng-click="ctrl.current = 'study'">
                            <i class="icon-search4" style="color: #9b59b6;"></i> Search</a>
                    </li>

                </ul>
            </li>
            <!-- travel -->

            <!-- Study -->
            <li ng-show="ctrl.user._id">
                <a href="" ui-sref="user({menu: 'event'})" ng-show="ctrl.user._id">
                    <i class="icon-clipboard3" style="color: #8e44ad;"></i> My events</a>
            </li>
            <!-- travel -->


        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="">
                    <i class="icon-history position-left"></i>
                    Version
                    <span class="label label-inline position-right bg-success-400">1.0</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- /second navbar -->
