<div id="navbar-full" class="row">
  <div id="navbar">
    <!--    
        navbar-default can be changed with navbar-ct-blue navbar-ct-azzure navbar-ct-red navbar-ct-green navbar-ct-orange  
        -->
    <nav class="navbar navbar-ct-blue navbar-fixed-top " role="navigation">

      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>


          <!-- user avatar -->
          <a class="navbar-brand navbar-brand-logo" href="http://www.creative-tim.com">
            <div class="logo">

              <img ng-show="!ctrl.user.image" src="https://s3.amazonaws.com/creativetim_bucket/new_logo.png">

              <img height="60" width="60" ng-show="ctrl.user.image" src="{{ctrl.user.image}}">

            </div>

            <div class="brand" ng-show="!ctrl.user.name"> Guest </div>
            <div class="brand" ng-show="ctrl.user.name">{{ctrl.user.name}} </div>

          </a>
          <!-- end user avatar -->


        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">


            <!-- go with me event -->
            <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown">
                <i class="pe-7s-bicycle"></i>
                <p>Go with me
                  <b class="caret"></b>
                </p>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a ui-sref="gowithme_create" href="">Create</a>
                </li>
                <li>
                  <a ui-sref="gowithme_search" href="">Join</a>
                </li>
              </ul>
            </li>
            <!-- end go with me -->


            <!-- sport event -->
            <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown">
                <i class="pe-7s-gym"></i>
                <p>Sport
                  <b class="caret"></b>
                </p>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a ui-sref="gowithme_create" href="">Create</a>
                </li>
                <li>
                  <a ui-sref="gowithme_search" href="">Join</a>
                </li>
              </ul>
            </li>
            <!-- end sport event -->


            <!-- study event -->
            <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown">
                <i class="pe-7s-display1"></i>
                <p>Study
                  <b class="caret"></b>
                </p>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a ui-sref="gowithme_create" href="">Create</a>
                </li>
                <li>
                  <a ui-sref="gowithme_search" href="">Join</a>
                </li>
              </ul>
            </li>
            <!-- end study event-->


            <!-- login facebook account -->
            <li ng-show="true">
              <a href="/users/login/facebook">
                <i class="pe-7s-user">
                  <span class="label">
                    <i class="fa fa-facebook-square" aria-hidden="false" style="background:transparent;"></i>
                  </span>
                </i>
                <p>Login</p>
              </a>
            </li>
            <!-- end login -->


            <!-- event manager -->
            <li ng-show="ctrl.user._id" class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown">
                <i class="pe-7s-user">
                  <span class="label">23</span>
                </i>
                <p>Event manager
                  <b class="caret"></b>
                </p>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a ui-sref="user">Your own</a>
                </li>
                <li>
                  <a href="/messesage">Joined</a>
                </li>
              </ul>
            </li>
            <!-- end event manager -->


            <!-- user profile -->
            <li ng-show="ctrl.user._id" class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown">
                <i class="pe-7s-piggy">
                  <span class="label">23</span>
                </i>
                <p>Account
                  <b class="caret"></b>
                </p>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a ui-sref="user">Profile</a>
                </li>
                <li>
                  <a href="/messesage">Message</a>
                </li>
              </ul>
            </li>
            <!-- end user profile -->

          </ul>
          <form class="navbar-form navbar-right navbar-search-form" role="search">
            <div class="form-group">
              <input type="text" value="" class="form-control" placeholder="Search...">
            </div>
          </form>

        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>
  </div>
  <!--  end navbar -->

</div>
<!-- end menu-dropdown -->
