<div class="card-box col-md-offset-1 col-md-10" ng-show="ctrl.user._id">

  <!-- event information -->
  <div class="row">

    <!-- start travel event -->
    <div class="col-md-8" ng-show="ctrl.type === 'travel'">
      <div class="panel panel-border panel-danger row">
        <div class="panel-heading">
          <h1 class="panel-title">Travel event</h1>
        </div>
        <div class="panel-body">

          <div class="row">
            <div class="col-md-2">
              <h4>Start</h4>
            </div>
            <div class="col-md-10">
              <h4>{{ctrl.post.startPlace}}</h4>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <h4>End</h4>
            </div>
            <div class="col-md-10">
              <h4>{{ctrl.post.endPlace}}</h4>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <h4>Start time</h4>
            </div>
            <div class="col-md-10">
              <h4>{{ctrl.getFormatedDate(ctrl.post.startTime)}}</h4>
            </div>
          </div>

          <div class="row">
            <fb-share class="pull-right"></fb-share>
          </div>

        </div>
      </div>


      <!-- start comments -->
      <div class="card-box row">
        <h5>Comments</h5>
        <hr>

        <div class="search-item" ng-repeat="comment in ctrl.comments">
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object img-circle" alt="64x64" ng-src="{{comment.user.image}}" style="width: 50px; height: 50px;"> </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">
                <a href="#">{{comment.user.name}}</a>
              </h4>
              <p>
                {{comment.comment}}
              </p>
              <p>
                <span>Last updated: {{ctrl.getFormatedDate(comment.created)}}</span>
              </p>
            </div>
          </div>
        </div>

      </div>
      <!-- end comments -->


      <!-- editor -->
      <div class="row">
        <div class="col-sm-12">
          <p>Post comment</p>
          <textarea class="form-control" rows="3" ng-model="ctrl.comment"></textarea>
        </div>
      </div>
      <!-- end editor -->

      <!-- submit comment -->
      <div class="row">
        <br>
        <button class="pull-right btn-custom btn-rounded btn btn-purple" ng-click="ctrl.postComment()">Submit</button>
      </div>
      <!-- end submit -->

    </div>
    <!-- end travel event -->

    <!-- user detail -->
    <div class="col-md-4">
      <div class="card-box">
        <div class="contact-card">
          <a class="pull-left" href="#">
            <img class="img-circle" width="60px" height="60px" ng-src="{{ctrl.user.image}}" />
          </a>
          <div class="member-info">
            <h4 class="m-t-0 m-b-5 header-title">
              <b>{{ctrl.user.name}}</b>
            </h4>
            <p class="text-muted">Tel: {{ctrl.user.phone}}</p>
            <p class="text-dark">
              <i class="md md-business m-r-10"></i>
              <small>ABC company Pvt Ltd.</small>
            </p>
            <div class="m-t-20">
              <a href="#" class="btn btn-purple waves-effect waves-light btn-sm">Send email</a>
              <a href="#" class="btn btn-success waves-effect waves-light btn-sm m-l-5">Edit</a>
              <a href="#" class="btn btn-pink waves-effect waves-light btn-sm m-l-5">Call</a>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- end user detail -->

  </div>
  <!-- end information -->

</div>




<div ng-show="!ctrl.user._id">
  Not login
</div>
