<style type="text/css">
.postContent {
    color: #7a7c7f;
    font-family: 'Verdana', sans-serif;
    font-size: 12px;
    line-height: 26px;
    font-weight: 550;
}

.informationHeader {
    font-weight: 800;
}
</style>


<div style="margin-left:20px; margin-top:20px; margin-right: 20px;">

    <!-- event information -->
    <div class="row">

        <!-- start event -->
        <div class="col-md-offset-2 col-md-6" style="margin-bottom:20px;">


            <!-- travel -->
            <travel-post ng-if="ctrl.type === 'travel'"></travel-post>
            <!-- end travel -->


            <!-- start comments -->
            <comments-post ng-show="ctrl.user._id"></comments-post>
            <!-- end comments -->

        </div>
        <!-- end travel event -->

        <!-- user detail -->
        <div class="col-md-2">

            <user-post></user-post>

        </div>
        <!-- end user detail -->

    </div>
    <!-- end information -->

</div>

<br>
