<!-- start place -->
<div class="row postContent">
    <div class="col-md-offset-2 col-md-8">
        <span class="informationHeader">
            <h4 class="text-center">{{ctrl.post.title}}</h4>
        </span>
    </div>
</div>
<!-- end start place -->

<div class="row postContent">
    <div class="col-md-4 col-xs-3">
        <span class="pull-right informationHeader">Teacher:</span>
    </div>
    <div class="col-md-5 col-xs-9">
        {{ctrl.post.teacher}}
    </div>
</div>

<div class="row postContent">
    <div class="col-md-4 col-xs-3">
        <span class="pull-right informationHeader">Duration:</span>
    </div>
    <div class="col-md-5 col-xs-9">
        {{ctrl.post.duration}}
    </div>
</div>

<div class="row postContent">
    <div class="col-md-4 col-xs-3">
        <span class="pull-right informationHeader">Content:</span>
    </div>
    <div class="col-md-5 col-xs-9">
        {{ctrl.post.note}}
    </div>
</div>

<div class="row postContent">
    <div class="col-md-4 col-xs-3">
        <span class="pull-right informationHeader">Total slots:</span>
    </div>
    <div class="col-md-5 col-xs-9">
        {{ctrl.post.slots}}
    </div>
</div>

<div class="row postContent">
    <div class="col-md-4 col-xs-3">
        <span class="pull-right informationHeader">Available slots:</span>
    </div>
    <div class="col-md-5 col-xs-9">
        {{ctrl.post.slots - ctrl.post.join.length}}
    </div>
</div>

<!-- start time -->
<div class="row postContent">
    <div class="col-md-4 col-xs-3">
        <span class="pull-right informationHeader">Registration deadline:</span>
    </div>
    <div class="col-md-5 col-xs-9">
        {{ctrl.goWithMeServices.getFormatedDate(ctrl.post.finishTime)}}
    </div>
</div>
<!-- end start time -->
