<!-- start place -->
<div class="row postContent">
    <div class="col-md-3 col-xs-3">
        <span class="pull-right informationHeader">Start:</span>
    </div>
    <div class="col-md-9 col-xs-9">
        {{ctrl.post.start.place}}
    </div>
</div>
<!-- end start place -->

<!-- end place -->
<div class="row postContent">
    <div class="col-md-3 col-xs-3">
        <span class="pull-right informationHeader">End:</span>
    </div>
    <div class="col-md-9 col-xs-9">
        {{ctrl.post.end.place}}
    </div>
</div>
<!-- end place -->

<!-- end place -->
<div class="row postContent" style="margin-bottom: 15px;">
    <div class="col-md-offset-3 col-xs-offset-3 col-md-9 col-xs-9">
        <a href="" ng-click="ctrl.openTripView()" style="color: #2980b9; font-size: 11px; font-weight: 600; font-style: italic; text-decoration: underline;">Click to view trip:</a>
        <span style="font-size: 11px;  font-style: italic;">{{ctrl.post.info}}</span>
    </div>
</div>
<!-- end place -->

<!-- start time -->
<div class="row postContent">
    <div class="col-md-3 col-xs-3">
        <span class="pull-right informationHeader">Time:</span>
    </div>
    <div class="col-md-9 col-xs-9">
        {{ctrl.goWithMeServices.getFormatedDate(ctrl.post.finishTime)}}
    </div>
</div>
<!-- end start time -->

<div class="row postContent">
    <div class="col-md-3 col-xs-3">
        <span class="pull-right informationHeader">Vehicle:</span>
    </div>
    <div class="col-md-9 col-xs-9">
        {{ctrl.post.vehicle}}
    </div>
</div>

<div class="row postContent">
    <div class="col-md-3 col-xs-3">
        <span class="pull-right informationHeader">Available seats:</span>
    </div>
    <div class="col-md-9 col-xs-9">
        {{ctrl.post.freeSeats}}
    </div>
</div>

<div class="row postContent">
    <div class="col-md-3 col-xs-3">
        <span class="pull-right informationHeader">Cost:</span>
    </div>
    <div class="col-md-9 col-xs-9">
        {{ctrl.post.cost}}
    </div>
</div>

<div class="row postContent">
    <div class="col-md-3 col-xs-3">
        <span class="pull-right informationHeader">Note:</span>
    </div>
    <div class="col-md-8 col-xs-8">
        <textarea ng-disabled="true" class="form-control" rows="3" cols="5" ng-model="ctrl.post.note"></textarea>
    </div>
</div>
