<style type="text/css">
.studyEvent {
    border-bottom: 1px solid #bdc3c7;
    color: #7f8c8d;
    padding-bottom: 10px;
    padding-top: 10px;
}

.studyTitle {
    font-size: 17px;
}

.studyInfo {
    font-size: 12px;
}
</style>

<div class="row" style="background-color:white;" ng-show="ctrl.user._id">

    <div class="col-md-offset-2 col-md-8" style="padding-bottom: 50px; padding-right: 25px; padding-left: 25px;">

        <div class="row studyEvent">
            <div class="col-md-12">
                <span style="color: #34495e; font-size: 20px;">Create study event</span>
            </div>
        </div>

        <div class="row studyEvent">
            <div class="col-md-offset-1 col-md-8">

                <form class="form-horizontal" role="form">

                    <div class="form-group">
                        <label class="control-label col-sm-3" for="email">
                            <span class="pull-right">Title:</span>
                        </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="email" placeholder="Enter title" ng-model="ctrl.request.title">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" for="email">
                            <span class="pull-right">Teacher:</span>
                        </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="email" placeholder="Enter teacher" ng-model="ctrl.request.teacher">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" for="email">
                            <span class="pull-right">Duration:</span>
                        </label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="email" placeholder="Enter duration" ng-model="ctrl.request.duration">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            <span class="pull-right">Note:</span>
                        </label>
                        <div class="col-sm-9">
                            <textarea class="form-control" rows="3" ng-model="ctrl.request.note"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" for="slot">
                            <span class="pull-right">Available seats:</span>
                        </label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="slot" ng-model="ctrl.request.slots">
                        </div>
                    </div>

                    <!-- start time -->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="date">
                            <span class="pull-right">Start time:</span>
                        </label>
                        <div class="col-md-5">
                            <p class="input-group">
                                <input id="date" type="text" class="form-control bg-slate" uib-datepicker-popup="{{ctrl.dateFormat}}" ng-model="ctrl.request.startTime" is-open="ctrl.datePickerOpen" alt-input-formats="ctrl.altInputFormats " ng-required="true" close-text="Close" date-disabled="'true'" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default btn-sm" ng-click="ctrl.datePickerOpen = true">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </p>
                        </div>
                    </div>
                    <!-- /start time  -->

                    <!-- finish date -->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="date">
                            <span class="pull-right">Finish time:</span>
                        </label>
                        <div class="col-md-5">
                            <p class="input-group">
                                <input id="date" type="text" class="form-control bg-slate" uib-datepicker-popup="{{ctrl.dateFormat}}" ng-model="ctrl.request.endTime" is-open="ctrl.datePickerOpen1" alt-input-formats="ctrl.altInputFormats " ng-required="true" close-text="Close" date-disabled="'true'" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default btn-sm" ng-click="ctrl.datePickerOpen1 = true">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </p>
                        </div>
                    </div>
                    <!-- end date -->

                    <!-- finish date -->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="date">
                            <span class="pull-right">Registration deadline:</span>
                        </label>
                        <div class="col-md-5">
                            <p class="input-group">
                                <input id="date" type="text" class="form-control bg-slate" uib-datepicker-popup="{{ctrl.dateFormat}}" ng-model="ctrl.request.finishTime" is-open="ctrl.datePickerOpen2" alt-input-formats="ctrl.altInputFormats " ng-required="true" close-text="Close" date-disabled="'true'" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default btn-sm" ng-click="ctrl.datePickerOpen2 = true">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </p>
                        </div>
                    </div>
                    <!-- end date -->

                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-10">
                            <button type="submit" class="btn btn-primary" ng-click="ctrl.submit()">Submit</button>
                            <button type="submit" class="btn btn-default" ui-sref="study_list">Cancel</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>

    </div>

</div>
