<div style="margin-left:20px; margin-right: 20px;">
    <div class="row">
        <div class="col-md-4" style="padding-top:20px;">

            <!--  menus  -->
            <!-- </br>
      <div class="row">
        <div class="col-md-11 col-md-offset-1">
          <button class="btn btn-success">Find customers</button>
          <button class="btn btn-warning">Find drivers</button>
        </div>
      </div>
      </br> -->


            <!-- create new event -->
            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal">

                        <!-- start point -->
                        <div class="form-group form-group-sm">
                            <label class="col-md-3 control-label">Start
                                <i class="pe-7s-map-marker"></i>
                            </label>
                            <div class="col-md-8">

                                <ui-select on-select="ctrl.services.placeSelected(ctrl.map, ctrl.map.markers.start)" ng-model="ctrl.map.markers.start.place" theme="bootstrap">
                                    <ui-select-match placeholder="Start point">{{$select.selected.name.slice(0,34)}}</ui-select-match>
                                    <ui-select-choices repeat="place in ctrl.places" refresh="ctrl.services.autoComplete(ctrl.map, $select.search, ctrl.places)" refresh-delay="0">
                                        <div ng-bind-html="place.name | highlight: $select.search"></div>
                                        <!-- <small ng-bind-html="place | highlight: $select.search"></small> -->
                                    </ui-select-choices>
                                </ui-select>

                            </div>
                        </div>
                        <!-- end start point -->


                        <!-- end point -->
                        <div class="form-group form-group-sm">
                            <label class="col-md-3 control-label">End
                                <i class="pe-7s-map-marker"></i>
                            </label>
                            <div class="col-md-8">

                                <ui-select on-select="ctrl.services.placeSelected(ctrl.map, ctrl.map.markers.end)" ng-model="ctrl.map.markers.end.place" theme="bootstrap">
                                    <ui-select-match placeholder="End point">{{$select.selected.name.slice(0,34)}}</ui-select-match>
                                    <ui-select-choices repeat="place in ctrl.places" refresh="ctrl.services.autoComplete(ctrl.map, $select.search, ctrl.places)" refresh-delay="0">
                                        <div ng-bind-html="place.name | highlight: $select.search"></div>
                                        <!-- <small ng-bind-html="place | highlight: $select.search"></small> -->
                                    </ui-select-choices>
                                </ui-select>

                            </div>
                        </div>
                        <!-- end end point -->


                        <!-- type of user -->
                        <div class="form-group form-group-sm row" ng-init="ctrl.request.typeOfUser = 'driver'">
                            <label class="col-md-3 control-label">You are</label>
                            <div class="col-md-9">
                                <div class="radio-inline">
                                    <input type="radio" id="inlineRadio1" class="styled" ng-model="ctrl.request.typeOfUser" ng-value="'driver'" checked>
                                    <label for="inlineRadio1">Driver </label>
                                </div>
                                <div class="radio-inline">
                                    <input type="radio" id="inlineRadio2" class="styled" ng-model="ctrl.request.typeOfUser" ng-value="'customer'">
                                    <label for="inlineRadio2">Customer </label>
                                </div>
                            </div>

                        </div>
                        <!-- end type of user -->


                        <!-- you are a driver -->
                        <div ng-show="ctrl.request.typeOfUser === 'driver'">

                            <!-- type of vehicle -->
                            <div class="form-group form-group-sm row" ng-init="ctrl.request.vehicle = 'Motorbike'">
                                <label class="col-md-3 control-label">Vehicle</label>
                                <div class="col-md-5">
                                    <select ng-model="ctrl.request.vehicle" class="form-control bg-slate">
                                        <option value="Car">Car</option>
                                        <option value="Motorbike">Motorbike</option>
                                        <option value="Bicycle">Bicycle</option>
                                        <option value="Bus">Bus</option>
                                        <option value="Walk">Walk</option>
                                    </select>
                                </div>
                            </div>
                            <!-- end vehicle -->


                            <!-- free seats -->
                            <div class="form-group form-group-sm row" ng-init="ctrl.request.freeSeats=1">
                                <label class="col-md-3 control-label">Free seats</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control border-slate text-slate border-lg" ng-model="ctrl.request.freeSeats " class="form-control">
                                </div>
                            </div>

                            <!-- cost / seat -->
                            <div class="form-group form-group-sm row" ng-init="ctrl.request.cost=10000">
                                <label class="col-md-3 control-label">Cost per seat</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control border-slate text-slate border-lg" ng-model="ctrl.request.cost " class="form-control">
                                </div>
                            </div>


                        </div>
                        <!-- end driver -->


                        <!-- you are a customer -->
                        <div ng-show="ctrl.request.typeOfUser ==='customer' ">
                            <!-- cost / seat -->
                            <div class="form-group form-group-sm row" ng-init="ctrl.request.cost=10000">
                                <label class="col-md-3 control-label">Willingness to Pay</label>
                                <div class="col-md-3">
                                    <input type="text" ng-model="ctrl.request.cost " class="form-control border-slate text-slate border-lg">
                                </div>
                            </div>
                        </div>
                        <!-- end customer -->


                        <!-- start date -->
                        <div class="row form-group-sm form-group">
                            <label class="col-md-3 control-label">Start date</label>
                            <div class="col-md-6">
                                <p class="input-group">
                                    <input type="text" class="form-control bg-slate" uib-datepicker-popup="{{ctrl.dateFormat}}" ng-model="ctrl.request.finishTime" is-open="ctrl.datePickerOpen" alt-input-formats="ctrl.altInputFormats " ng-required="true" close-text="Close" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default btn-sm" ng-click="ctrl.datePickerOpen = true">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>
                        </div>
                        <!-- end date -->


                        <!-- start time -->
                        <div class="row form-group-sm form-group">
                            <label class="col-md-3 control-label" style="margin-top:35px;">Start time</label>
                            <div class="col-md-6">
                                <p class="input-group">
                                    <uib-timepicker ng-model="ctrl.request.finishTime" hour-step="1" minute-step="15" show-meridian="false"></uib-timepicker>
                                </p>
                            </div>
                        </div>
                        <!-- end time -->


                        <!-- note -->
                        <div class="form-group form-group-sm row">
                            <label class="col-md-3 control-label">Note</label>
                            <div class="col-md-8">
                                <textarea class="form-control" rows="3" ng-model="ctrl.request.note"></textarea>
                            </div>
                        </div>
                        <!-- end note -->


                        <!-- submit button -->
                        <div class="row">
                            <div class="col-md-2 col-md-offset-9">
                                <button class="btn btn-success" ng-click="ctrl.submit()">Submit</button>
                            </div>
                        </div>
                        <!-- end button -->

                    </form>
                </div>
            </div>
            <!-- end create event -->


        </div>

        <div class="col-md-8" style="padding-top:20px;">
            <leaflet event-broadcast="ctrl.map.events" lf-center="ctrl.map.center " markers="ctrl.map.markers " layers="ctrl.map.layers " bounds="ctrl.map.bounds " height="650px " width="100% "></leaflet>
        </div>

    </div>

</div>
