<div style="margin-left:20px; margin-right:20px;">
  <div class="row">
    <div class="col-md-4">

      <!--  menus  -->
      <!-- </br>
      <div class="row">
        <div class="col-md-11 col-md-offset-1">
          <button class="btn btn-success">Find customers</button>
          <button class="btn btn-warning">Find drivers</button>
        </div>
      </div>
      </br> -->


      <!-- search event -->
      <div class="row">
        <div class="12">
          <form class="form-horizontal">

            <!-- start point -->
            <div class="form-group">
              <label class="col-md-3 control-label">Start
                <i class="pe-7s-map-marker"></i>
              </label>
              <div class="col-md-8">

                <ui-select on-select="ctrl.placeSelected('start')" ng-model="ctrl.map.markers.start.place" theme="bootstrap">
                  <ui-select-match placeholder="Start point">{{$select.selected.name.slice(0,34)}}</ui-select-match>
                  <ui-select-choices repeat="place in ctrl.places" refresh="ctrl.autoComplete($select.search)" refresh-delay="0">
                    <div ng-bind-html="place.name | highlight: $select.search"></div>
                    <!-- <small ng-bind-html="place | highlight: $select.search"></small> -->
                  </ui-select-choices>
                </ui-select>

              </div>
            </div>
            <!-- end start point -->


            <!-- change start radius -->
            <div class="form-group">
              <label class="col-md-3 control-label">Radius (m)</label>
              <div class="col-md-8">
                <slider ng-model="ctrl.map.markers.start.radius" min="0" max="5000" on-stop-slide="ctrl.radiusChanged('start')"></slider>
              </div>
            </div>
            <br>
            <!-- end change radius -->


            <!-- end point -->
            <div class="form-group">
              <label class="col-md-3 control-label">End
                <i class="pe-7s-map-marker"></i>
              </label>
              <div class="col-md-8">

                <ui-select on-select="ctrl.placeSelected('end')" ng-model="ctrl.map.markers.end.place" theme="bootstrap">
                  <ui-select-match placeholder="End point">{{$select.selected.name.slice(0,34)}}</ui-select-match>
                  <ui-select-choices repeat="place in ctrl.places" refresh="ctrl.autoComplete($select.search)" refresh-delay="0">
                    <div ng-bind-html="place.name | highlight: $select.search"></div>
                    <!-- <small ng-bind-html="place | highlight: $select.search"></small> -->
                  </ui-select-choices>
                </ui-select>

              </div>
            </div>
            <!-- end end point -->


            <!-- change end radius -->
            <div class="form-group">
              <label class="col-md-3 control-label">Radius (m)</label>
              <div class="col-md-8">
                <slider ng-model="ctrl.map.markers.end.radius" min="0" max="5000" on-stop-slide="ctrl.radiusChanged('end')"></slider>
              </div>
            </div>
            <br>
            <!-- end change radius -->


            <!-- start date -->
            <div class="row">
              <label class="col-md-3 control-label">Start date</label>
              <div class="col-md-6">
                <p class="input-group">
                  <input type="text" class="form-control" uib-datepicker-popup="{{ctrl.dateFormat}}" ng-model="ctrl.request.startTime" is-open="ctrl.datePickerOpenStart" alt-input-formats="ctrl.altInputFormats" ng-required="true" close-text="Close" ng-change="ctrl.submit()" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="ctrl.datePickerOpenStart = true">
                      <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                  </span>
                </p>
              </div>
            </div>
            <!-- end date -->


            <!-- start time -->
            <!-- <div class="row">
              <label class="col-md-3 control-label"></label>
              <div class="col-md-6">
                <p class="input-group">
                  <uib-timepicker ng-model="ctrl.request.startTime" hour-step="1" minute-step="15" show-meridian="false"></uib-timepicker>
                </p>
              </div>
            </div> -->
            <!-- end time -->


            <!-- finish time -->
            <div class="row">
              <label class="col-md-3 control-label">Finish date</label>
              <div class="col-md-6">
                <p class="input-group">
                  <input type="text" class="form-control" uib-datepicker-popup="{{ctrl.dateFormat}}" ng-model="ctrl.request.endTime" is-open="ctrl.datePickerOpenEnd" alt-input-formats="ctrl.altInputFormats" ng-required="true" close-text="Close" ng-change="ctrl.submit()" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="ctrl.datePickerOpenEnd = true">
                      <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                  </span>
                </p>
              </div>
            </div>
            <!-- end finish time -->


            <!-- start time -->
            <!-- <div class="row">
              <label class="col-md-3 control-label"></label>
              <div class="col-md-6">
                <p class="input-group">
                  <uib-timepicker ng-model="ctrl.request.endTime" hour-step="1" minute-step="15" show-meridian="false"></uib-timepicker>
                </p>
              </div>
            </div> -->
            <!-- end time -->

          </form>
        </div>
      </div>
      <!-- end search event -->


    </div>

    <div class="col-md-8 ">
      <leaflet lf-center="ctrl.map.center " paths="ctrl.map.paths" markers="ctrl.map.markers " layers="ctrl.map.layers " bounds="ctrl.map.bounds " height="350px " width="100% "></leaflet>
    </div>

  </div>

  <!-- search results -->
  <div class="container" ng-show="ctrl.searchResults.length>0">
    <hr>
    <div class="col-md-4" ng-repeat="result in ctrl.searchResults">

      <div class="panel panel-default">

        <div class="panel-heading">
          <img height="30" width="30" ng-show="result.user.image" src="{{result.user.image}}">
          <a href="" ui-sref="post({type:'travel', eventId: result._id})">{{result.user.name}}</a>
        </div>

        <div class="panel-body">

          <!-- start -->
          <div class="row">
            <div class="col-md-3">Start:</div>
            <div class="col-md-9" ng-init="ctrl.getGeoCode(result.start)">{{result.start.place}}</div>
          </div>
          <!-- end start -->

          <!-- end -->
          <div class="row">
            <div class="col-md-3">End:</div>
            <div class="col-md-9" ng-init="ctrl.getGeoCode(result.end)">{{result.end.place}}</div>
          </div>
          <!-- end -->

          <!-- time -->
          <div class="row">
            <div class="col-md-3">Time:</div>
            <div class="col-md-9">{{ctrl.getFormatedDate(result.startTime)}}</div>
          </div>
          <!-- end time -->

          <!-- vehicle -->
          <div class="row">
            <div class="col-md-3">Vehicle:</div>
            <div class="col-md-9">{{result.vehicle}}</div>
          </div>
          <!-- end vehicle -->

          <!-- free seats -->
          <div class="row">
            <div class="col-md-3">Seats:</div>
            <div class="col-md-9">{{result.freeSeats}}</div>
          </div>
          <!-- end free seats -->

          <!-- cost -->
          <div class="row">
            <div class="col-md-3">Cost:</div>
            <div class="col-md-9">{{result.cost}}</div>
          </div>
          <!-- end cost -->

        </div>

      </div>

    </div>
  </div>
  <!-- end search results -->

</div>
