<div style="margin-left:20px; margin-right:20px;">
  <div class="row">
    <div class="col-md-4">

      <!--  menus  -->
      <!-- </br>
      <div class="row">
        <div class="col-md-11 col-md-offset-1">
          <button class="btn btn-success">Find customers</button>
          <button class="btn btn-warning">Find drivers</button>
        </div>
      </div>
      </br> -->


      <!-- search event -->
      <div class="row">
        <div class="12">
          <form class="form-horizontal">

            <!-- start point -->
            <div class="form-group">
              <label class="col-md-3 control-label">Start</label>
              <div class="col-md-8">

                <ui-select on-select="ctrl.placeSelected('start')" ng-model="ctrl.map.markers.start.place" theme="bootstrap">
                  <ui-select-match placeholder="Start point">{{$select.selected.name.slice(0,34)}}</ui-select-match>
                  <ui-select-choices repeat="place in ctrl.places | filter: $select.search" refresh="ctrl.autoComplete($select.search)" refresh-delay="0">
                    <div ng-bind-html="place.name | highlight: $select.search"></div>
                    <!-- <small ng-bind-html="place | highlight: $select.search"></small> -->
                  </ui-select-choices>
                </ui-select>

              </div>
            </div>
            <!-- end start point -->


            <!-- change start radius -->
            <div class="form-group">
              <label class="col-md-3 control-label">Radius (m)</label>
              <div class="col-md-8">
                <slider ng-model="ctrl.map.markers.start.radius" min="0" max="5000" on-stop-slide="ctrl.radiusChanged('start')"></slider>
              </div>
            </div>
            <br>
            <!-- end change radius -->


            <!-- end point -->
            <div class="form-group">
              <label class="col-md-3 control-label">End</label>
              <div class="col-md-8">

                <ui-select on-select="ctrl.placeSelected('end')" ng-model="ctrl.map.markers.end.place" theme="bootstrap">
                  <ui-select-match placeholder="End point">{{$select.selected.name.slice(0,34)}}</ui-select-match>
                  <ui-select-choices repeat="place in ctrl.places | filter: $select.search" refresh="ctrl.autoComplete($select.search)" refresh-delay="0">
                    <div ng-bind-html="place.name | highlight: $select.search"></div>
                    <!-- <small ng-bind-html="place | highlight: $select.search"></small> -->
                  </ui-select-choices>
                </ui-select>

              </div>
            </div>
            <!-- end end point -->


            <!-- change end radius -->
            <div class="form-group">
              <label class="col-md-3 control-label">Radius (m)</label>
              <div class="col-md-8">
                <slider ng-model="ctrl.map.markers.end.radius" min="0" max="5000" on-stop-slide="ctrl.radiusChanged('end')"></slider>
              </div>
            </div>
            <br>
            <!-- end change radius -->


            <!-- start time -->
            <div class="row">
              <label class="col-md-3 control-label">Start date</label>
              <div class="col-md-6">
                <p class="input-group">
                  <input type="text" class="form-control" uib-datepicker-popup="{{ctrl.dateFormat}}" ng-model="ctrl.request.startTime" is-open="ctrl.datePickerOpen" alt-input-formats="ctrl.altInputFormats " ng-required="true" close-text="Close" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="ctrl.datePickerOpen = true">
                    <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
                </p>
              </div>
            </div>
            <!-- end time -->


            <!-- finish time -->
            <div class="row">
              <label class="col-md-3 control-label">Finish date</label>
              <div class="col-md-6">
                <p class="input-group">
                  <input type="text" class="form-control" uib-datepicker-popup="{{ctrl.dateFormat}}" ng-model="ctrl.request.endTime" is-open="ctrl.datePickerOpen" alt-input-formats="ctrl.altInputFormats " ng-required="true" close-text="Close" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="ctrl.datePickerOpen = true">
                    <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
                </p>
              </div>
            </div>
            <!-- end finish time -->


            <!-- submit button -->
            <div class="row">
              <div class="col-md-2 col-md-offset-8">
                <button class="btn btn-success" ng-click="ctrl.submit()">Submit</button>
              </div>
            </div>
            <!-- end button -->

          </form>
        </div>
      </div>
      <!-- end search event -->


    </div>

    <div class="col-md-8 ">
      <leaflet lf-center="ctrl.map.center " paths="ctrl.map.paths" markers="ctrl.map.markers " layers="ctrl.map.layers " bounds="ctrl.map.bounds " height="480px " width="100% "></leaflet>
    </div>

  </div>

</div>
